%input{type: "search"} search boxes
%br
%input{type: "number"} spinboxes
%br
%input{type: "range"} sliders
%br
%input{type: "color"} color pickers
%br
%input{type: "tel"} telephone numbers
%br
%input{type: "url"} web addresses
%br
%input{type: "email"} email addresses
%br
%input{type: "date"} calendar date pickers
%br
%input{type: "month"} months
%br
%input{type: "week"} weeks
%br
%input{type: "time"} timestamps
%br
%input{type: "datetime"} precise, absolute date+time stamps
%br
%input{type: "datetime-local"} local dates and times
%br
