!!! 5
%html{:class => controller.class.name}
  %head
    %meta{charset: "utf-8"}
    %title Baseball Stats: Demo From Todd Blackman
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .header=render 'shared/navbar'
      .row
        .col-lg-12.content= yield
